{% extends "core/base.html" %}

{% block title %}
Mes projets
{% endblock %}

{% block content %}

<section class="projects-page">

    <div class="projects-page-container">

        <header class="projects-page-header">

            <h1>Mes projets</h1>

            <p>
                Des réalisations et expérimentations en électronique, mécanique et autres domaines techniques, de la conception à la réalisation.
            </p>

        </header>


        <div class="projects-list">

            {% for project in projects %}

                {% include "core/components/project_card.html" %}

            {% empty %}

                <p class="projects-empty">
                    Aucun projet disponible.
                </p>

            {% endfor %}

        </div>

    </div>

</section>

{% endblock %}